.App {
  text-align: center;
}

.App-main {
  /* padding-top: 35px; */
  /*padding-left: 225px; */
}

.slogan {
  padding: 7px;
}

.App-login{
  padding: 25px;
}

.openHover button {
  border-radius: 5px;
  border-style: none;
  background-color: #47d147;
  color: #282c34;
}

.closeHover button {
  border-radius: 5px;
  border-style: none;
  background-color: #ff3300;
  color: #282c34;
}

.openHover button:hover {
  background-color: #47d147;
  color: white;
  transition-timing-function: ease-in-out;
}


.closeHover button:hover {
  background-color: #ff3300;
  color: white;
  transition-timing-function: ease-in-out;
}

.App-login-reg {
  display: flex;
  flex-direction: row;
}

.ShowLoginbutton {
  padding: 20px;
}

.LoginSpace {
  padding-top: 5px;
}

.ShowRegbutton {
  padding: 20px;
}

.ShowEditButton {
  padding: 20px;
}

.RegSpace {
  padding-top: 5px;
}

.ShowLogin {
  padding: 20px;
  align-content: space-between;
}

.ShowLogin form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.ShowLogin label {
  padding: 12px;
}

.ShowReg {
  padding: 20px;
  align-content: space-between;
}

.ShowReg form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.ShowReg label {
  padding: 12px;
}

.ShowEditBal {
  padding: 20px;
  align-content: space-between;
}

.ShowEditBal form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.ShowEditBal label {
  padding: 12px;
}

.editBalance {
  padding-top: 5px;
}

.showEdit button {
  border-radius: 5px;
  border-style: none;
  background-color: #1a53ff;
  color: white;
}

.closeEdit button {
  border-radius: 5px;
  border-style: none;
  background-color: #ff3300;
  color: #282c34;
}

.showEdit button:hover {
  background-color: white;
  color: #1a53ff;
  transition-timing-function: ease-in-out;
}


.closeEdit button:hover {
  background-color: #ff3300;
  color: white;
  transition-timing-function: ease-in-out;
}

.Fieldtext {
  text-align: left;
  padding: 2px;
}

.ShowLogout {
  padding: 20px;
  align-content: space-between;
}

.ShowLogout button {
  border-radius: 5px;
  border-style: none;
  background-color: #ff3300;
  color: #282c34;
}

.ShowLogout button:hover {
  background-color: #ff3300;
  color: white;
  transition-timing-function: ease-in-out;
}

.NotShowLogin {
  visibility: hidden;
  width: 0;
  height: 0;
}

.NotShowReg {
  visibility: hidden;
  width: 0;
  height: 0;
}

.NotShowLogout {
  visibility: hidden;
  width: 0;
  height: 0;
}

.NotShowEditBal {
  visibility: hidden;
  width: 0;
  height: 0;
}

.row {
  padding-top: 35px;
}

.col-sm-4 {
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: #282c34;
  color: white;
  min-height: 180px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-main p {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.displayModal {
  display: block;
}

.displayNone {
  display: none;
}

.closeModal button {
  height: 40px;
  width: 110px;
  border-radius: 5px;
  border-style: none;
  background-color: #1a53ff;
  color: white;
}

.closeModal button:hover {
  background-color: #47d147;
  color: white;
  transition-timing-function: ease-in-out;
}

.App-logo-bg {
  height: auto;
  width : auto;
  background-color: white;
  border-radius: 50%;
}

.App-logo {
  height: 20vmin;
  margin-left: 0.12rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 3em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
